#### Binary Operators 
works with 2 operators

operand can be: a+b --> where a,b are two operands and a+3, where a is an operand, and 3 is a variable

#### Relational Operators
type of binary operator

compare the values on either side of the operator and returns the boolean values as True or False.

In [2]:
# equal to operator

a = [1,3,5]

In [4]:
10 == 10

True

#### Alert!!!

= is an assignment operator, to assign value of an expression  on right to a variable on left.

In [6]:
10 == 5

False

In [8]:
# not equal to operator

10 != 5

True

In [9]:
# greater than operator

a = 10

In [12]:
a > 5

True

In [13]:
# less than operator

10 < 5

False

In [15]:
# greater than equal to operator

10 <= 5

False

In [17]:
# less than equal to operator

10 >= 5

True

#### Decision Making

### If-Else blocks

In [19]:
age = 51
if age < 50:
    print("Young")
else:
    print("Adult")

Adult

In [20]:
age = 25
if age < 20:
    print("Young")
elif age < 30:
    print("Mid level")
else:
    print("Adult")

Mid level

In [21]:
# Write a program to check value in variable x is even or odd

x = 5
if x %2==0 :
    print("even")
else:
    print("odd")

odd

In [22]:
x = int(input("Enter the number"))

if x%2==0:
    print(x, "is a even number")
else:
    print(x, "is a odd number")

Enter the number 5

5 is a odd number

In [23]:
# Write a program to accept age of visitor and allows him to PM's party only if he is above 60 year's or below 18 years of age

x = int(input("Enter ur age"))
if x<18 or x>60:
    print("U can go to the party")
else:
    print("Not going")

Enter ur age 50

Not going

In [25]:
# Write a program which offers various discounts on purchase bills


shopping_total = 500
if shopping_total >= 5000:
    print("You won a discount voucher of flat 1000 on nect purchase")
elif shopping_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shopping_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")
else:
    print("OOPS! no discount for u")

OOPS! no discount for u

#### Example of nested if-else

In [26]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [27]:
world_cups

{2019: ['England', 'New-Zeland'],
 2015: ['Australia', 'New Zeland'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [28]:
world_cups[2019]

['England', 'New-Zeland']

In [30]:
year = int(input("Enter year to check India made it to Finals in 20th century:"))

if year in world_cups:
    if "India" in world_cups[year]:
        print("India made it to Finals")
    else:
        print("India could not make it to finals")
else:
    print("World cup wasn't played in", year)

Enter year to check India made it to Finals in 20th century: 2011

India made it to Finals

In [31]:
# Complete the piece of code to print a maximum of three variables, a, b and c.


a = 21
b = 54
c = 43

if (a>b) and (a>c):
    print('a')
elif (b>c) and (b>a):
    print('b')
else:
    print('c')

b

#### Which sequence of inputs would give the output 'C' 'A' 'D' 'B' over multiple iterations?

In [40]:


for i in range(4):
    score = int(input("Enter score: "))

    if score >= 90:
        print('A')
    elif score >=80:
        print('B')
    elif score >= 70:
        print('C')
    elif score >= 60:
        print('D')
    else:
         print('F')

Enter score:  70

C

Enter score:  91

A

Enter score:  67

D

Enter score:  88

B

In [41]:
a = 21
b = 54
c = 43

if (10<0) and (0<-10):
    print('a')
elif (10>0) or False:
    print('b')
else:
    print('c')

b

In [42]:
True and True

if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')

else:
    print('D')

B

#### Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.

For example, if input_str = 'analytics' then, your output should print 'YES'.

In [43]:
input_str = "Dheeraj"

if input_str[0].lower() == 'a' or input_str[0].lower() == 'e' or input_str[0].lower() == 'i' or input_str[0].lower() == 'o' or input_str[0].lower() == 'u':
    print("YES")
else:
    print("NO")

NO

In [44]:
input_str = "alpha"

if input_str[0].lower() in ['a','e','i','o','u']:
    print('YES')
else:
    print('NO')

YES

In [45]:
vowels = ['a','e','i','o','u']

if input_str[0].lower() in vowels:
    print('YES')
else:
    print('NO')

YES

In [46]:
input_str = "analytics"

vowel = 'aeiou'

if input_str[0].lower() in vowel:
    print('YES')
else:
    print('NO')

YES

#### Iteration 

Repeated execution of a set of statements

Implemented using 'for' loops and 'while' loops

In [48]:
l = [2,4,7,8,9]
len(l)

5

In [49]:
#iteration over list of integers

list_1 = [1,3,4,2,5,6]
for i in list_1:
    print(i)

1
3
4
2
5
6

In [50]:
string_1 = "hello world"
string_1

'hello world'

In [51]:
string_1[0]

'h'

In [52]:
#iteration over a string 

string = "Himachal Pradesh"

for ch in string:
    print(ch)

H
i
m
a
c
h
a
l

P
r
a
d
e
s
h

In [53]:
# iteration over a string -  modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, ":")

H :
i :
m :
a :
c :
h :
a :
l :
  :
P :
r :
a :
d :
e :
s :
h :

In [57]:
 for ch in string:
     print(ch, end = ":") #default value of end = "\n"

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [58]:
students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}

students_data'

{1: ['Sam', 24],
 2: ['Sharma', 25],
 3: ['Saina', 26],
 4: ['Saif', 24],
 5: ['Varun', 27]}

In [62]:
# iteration over a dictionary 

students_data = {1:['Sam', 24], 2:['Sharma', 25], 3:['Saina', 26], 4:['Saif',34],5:['Varun',26]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 34]
5 ['Varun', 26]

In [63]:
for v in students_data.values():
    print(v)

['Sam', 24]
['Sharma', 25]
['Saina', 26]
['Saif', 34]
['Varun', 26]

In [64]:
# iteration over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [66]:
# iteration over values of a dictionary
for value in students_data.values():
    print(value[0])

Sam
Sharma
Saina
Saif
Varun

#### Range Function
range(start, end)

range(1, 8) returns 1,2,3,4,5,6,7

returned sequence would not contain the end value

In [67]:
# Generate range of values.
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [68]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [69]:
for i in range(1,11,3):
    print(i) #[start:stop:step]

1
4
7
10

In [70]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [71]:
for i in range (1,10,2):
    print(i)

1
3
5
7
9

In [72]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

 g

g

 g

g

 h

h

 h

h

 not quit

not quit

 quit

quit

In [73]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

 hello

hello

 dheeraj

dheeraj

 quit

In [74]:
x = 0
while x<=20:
    x += 3
    if x%5==0:
        continue
    print(x, end = " ")

3 6 9 12 18 21

#### You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case

In [75]:
list_1 = ["VARMA", "raj", "Dheeraj", "JadhaV"]

In [76]:
new_list = []
for items in list_1:
    items = items.capitalize()
    new_list.append(items)

print(new_list)

['Varma', 'Raj', 'Dheeraj', 'Jadhav']

In [77]:
str = "hello world"
str.capitalize()

'Hello world'

In [78]:
str.title()

'Hello World'

### title vs capitalize

In [80]:
str = "hello world"
print(str.title())
print(str.capitalize())

Hello World
Hello world

### Which of the following would create a list of negative even numbers from -100 to 0 (-100 included and 0 not included)? [More than one option may be correct.]

list(range(0, -101, 2))

list(range(-100, -1, 2))

sorted(set(range(-2, -101, -2)))

In [81]:
x = []
for i in range(-100, 0):
    if(i%2==0):
        x.append(i)
x

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [82]:
list(range(0, -101, 2))

[]

In [83]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [84]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [85]:
d = {0:'Fish', 1:'Bird', 2:'Mammal'}
type(d)

dict

In [86]:
d = {0:'Fish', 1:'Bird', 2:'Mammal'}
for i in d:
    print(i)

0
1
2

# Comprehensions

provide a concise way to construct sequences(lists, sets, dictionaries etc)

In [87]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garges"]

l2 = []

for i in l1:
    l2.append(len(i))
l2

[11, 5, 4, 6, 13]

#### The Function Approach

In [89]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages"]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]
print(l2)

[11, 5, 4, 6, 14]

In [90]:
l3 = [1,2,3,4,5]

#iterating over l1 and l2 simultaneaously

for i,j,k in zip(l1, l2, l3):
    print(i, " - ", j, "Number is: ", k)

automobiles  -  11 Number is:  1
Honda  -  5 Number is:  2
Benz  -  4 Number is:  3
Suzuki  -  6 Number is:  4
Morris Garages  -  14 Number is:  5

##### You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list.

In [92]:
n = int(input())

x = [n*n for n in range(1, n+1)]
print(x)

 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Dictionary Comprehension

In [93]:
# Example on dictionary comprehension

l1 = ['automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']

# Create a dictionary consisting of element and length of each element from the above list 
# dict = {key1:value1, key2:value2, ....}


d = {len(i): i for i in l1}
print(d)

{11: 'automobiles', 5: 'Honda', 4: 'Benz', 6: 'Suzuki', 14: 'Morris Garages'}

In [94]:
for dict_values in d.values():
    print(dict_values)

automobiles
Honda
Benz
Suzuki
Morris Garages

##### Set Comprehensions

##### Write a program which takes a word as input from user and returns vowels from the word

In [99]:
word = input("Enter a word : ")
vowels = 'aeiou'
for i in word:
    if i in vowels:
        print(i)

Enter a word :  analytics

a
a
i

##### Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

In [104]:
input_list = ['wood', 'old', 'apple', 'big', 'item', 'euphoria']
vowel = 'aeiou'

for i in input_list:
    if i[0] in vowel:
        print(i)

old
apple
item
euphoria

In [105]:
print([i for i in input_list if i[0] in 'aeiou'])

['old', 'apple', 'item', 'euphoria']


###### Following is the code to create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.

In [111]:
input_list = list(range(1, 101))
output_dict = {}

for val in input_list:
    if val% 3 == 0:
        output_dict[val] = val**3

In [112]:
output_dict = {val : val ** 3 for val in input_list if val % 3 == 0}

In [113]:
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

###### What will the output of the following code be?

In [114]:
print([i+j for i in 'abc' for j in 'def'])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [117]:

for i in 'abc':
    for j in 'def':
        print(i+j)

ad
ae
af
bd
be
bf
cd
ce
cf

In [118]:
s = 'a'
s*3

'aaa'

In [119]:
d = { x.upper(): x*3 for x in 'abcd'}
print(d)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc', 'D': 'ddd'}

# Function

A block of organized, reusable code to perform a particular action

Provide better modularity

Built-in functions include print(), input(), type() etc

Syntax

In [121]:
 a = 5
b = 6
a+b

11

In [122]:
def sum(a, b):
    return a+b
sum(5,6)

11

##### Ex. Sum of two numbers

In [125]:
def sum( a= 6, b=6):
    c = a+b
    return c
sum(55,56)

111

In [126]:
sum(8)

14

##### Write a function which takes a value as a parameter and returns its factorial

In [129]:
def fact_v(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact *i
    return fact
fact_v(6)

720

In [130]:
fact_v(5)

120

#### Default Argument

In [131]:
def fuc(name = 'default', age = 22):
    print('name : ', name)
    print('age : ', age)

fuc('dheeraj')

name :  dheeraj
age :  22

In [133]:
fuc()

name :  default
age :  22

In [134]:
fuc('jadhav', 34)

name :  jadhav
age :  34

In [135]:
def func(name, age=34, city = "Mumbai"):
    print('name : ', name)
    print('age : ', age)
    print('city : ', city)

In [137]:

func('dheeraj', 23, 'bangaluru')

name :  dheeraj
age :  23
city :  bangaluru

In [138]:
func('suraj', 24)

name :  suraj
age :  24
city :  Mumbai

In [141]:
# Open Item

def var_func(*agrs):
    print(agrs)
var_func(1,3,"abc")

(1, 3, 'abc')

# Lambda Function

Lambda fuctions are another way of defining functions to execute small functionalities occurring while implementing a complex functionality. These functions can take multiple parameters as input but can only execute a single expression; in other words, they can only perform a single operaion.

In [142]:
# Traditional Approach

def sum(a, b):
    return a+b

#lambda Approach
f = lambda a,b: a+b

In [143]:
sum(4,5)

9

In [144]:
f(6,5)

11

In [145]:
sum(5,10)

15

The formate of a lambda expression is as follows:

function_name = lambda <space> input_parameters : output_parameters

In [147]:
# Write a lambda function to check a number is even or odd

f = lambda x : 'even' if x % 2 == 0 else 'odd'

f(11)

'odd'

#### Ex. Write a lambda function to perform addition of two numbers

In [148]:
f = lambda x,y: x + y
f(3,5)

8

#### Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

In [149]:
a = lambda a,b: a if a>b else b
a(4,5)

5

### map - filter - reduce 
map:

 Utility function in python
 
 Maps a collection to another collection object based on certain functionality

 Syntax: map(function, iterable object)

In [150]:
countries = ['India', 'Japan', 'Italy', 'France']

In [151]:
# map the list to obtained the names of countries in upper case

list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

Filer:

Similar fuction, but it requires the function to look for a condition and then returns only those elements from the collection that satisfies the condition

Reduce:

An operation that breaks down the entire process into pair-wise operations and uses the result from each operation, with the successive element.

### filter the countries names starting with "I"

In [153]:
list(filter(lambda x:x.startswith("I"), countries))

['India', 'Italy']

In [154]:
list(filter(lambda x:x[0]=='I', countries))

['India', 'Italy']

In [155]:
list(filter(lambda x:x[0].lower() == 'i', countries))

['India', 'Italy']

### reduce the list to concatnate the countries names into a single string variable seperated by

In [157]:
from functools import reduce
reduce(lambda x,y : x + " " + y, countries)

'India Japan Italy France'

In [158]:
# Some more ex on map - filter - reduce

l1 = [4,6,7]
print(map(lambda x: x**2, l1))
print(list(map(lambda x: x**2, l1)))

<map object at 0x00000219B2C679A0>
[16, 36, 49]

#### Defining a function and using it in map

In [159]:
l1 = [2,3,4]
def square(n):
    return n**2
print(list(map(square, l1)))

[4, 9, 16]

### Filter function to return the multiples of 3

In [160]:
my_list = [3,5,6,7,8,9]
divby3 = lambda x: x%3 ==0
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

### Write a python program to count the students above age 18

In [161]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2