Dictionary - Dictionary stores element as keys and values pairs.
The key like an index, its always unique and immutable. 
The values are the objects that contain information. 
Values are accessed using their keys.
Each key is followed by a value separated by a colon.
The values can be immutable, mutable and duplicates.
Each Key and value pair is separated by a comma enclosed inside a curly brackets.

In [2]:
#Creating a dictionary


d1 = {"India": "INR", "USA": "USD", "Hong Kong": "HKD"}
# Accessing values using keys

d1["India"]

'INR'

In [3]:
# Replacing the values for a key in a dictionary

d1["India"] = "NEW"

d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [5]:
# Inserting a new key-values pair

d1["Japan"] = "YEN"

d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD', 'Japan': 'YEN'}

In [6]:
# Deleting a key value pair

del d1["Japan"]

d1

{'India': 'NEW', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [7]:
# Sorting a dictionary

sorted(d1)

['Hong Kong', 'India', 'USA']

In [8]:
d1["India"] = "INR"

In [9]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [10]:
# values() method

d1.values()

dict_values(['INR', 'USD', 'HKD'])

In [11]:
# keys() method

d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [12]:
# get() method

d1.get('India')

'INR'

In [13]:
# update() method 

d1.update({"India": "Rs"})

d1

{'India': 'Rs', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [14]:
Employee_data = {101:['Shiva',24,'Content Strategist'], 102:['Udit', 25, 'HR'], 103:['Dheeraj',21, 'DS']}

In [15]:
type(Employee_data)

dict

In [16]:
Employee_data

{101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'HR'],
 103: ['Dheeraj', 21, 'DS']}

In [17]:
a = Employee_data.get(103)

In [18]:
a[2]

'DS'

In [19]:
dict_1 = {"Python":3, "D":21}

dict_1

{'Python': 3, 'D': 21}

In [22]:
del dict_1['D']

In [23]:
dict_1

{'Python': 3}

In [24]:
print(list(dict_1))

['Python']

In [28]:
input_dict = {'Name':'Dheera', 'age':22, 'Profession':'DS'}
if "Label" in input_dict.keys():
    print(input_dict["Label"])
else:
    print("NA")

NA

In [29]:
d2 = {'jact dorsey': 'twitter', 'tim cook': 'apple', 'jeff bezos':'amazon','mukesh ambani':'rjio'}

In [37]:
sorted(d2.values())

['amazon', 'apple', 'rjio', 'twitter']