Loops & Iteration

In [2]:
# Check whether a number is even or odd

x = 101

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

101 is an odd number

In [4]:
x = int(input("Enter ur age"))

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

Enter ur age 21

21 is an odd number

In [7]:
# <18 and >50 are not allowed for the party. --> 18 or above and 50 and below are allowed for the party.

x = int(input("Enter ur age"))

if x < 18 or x > 50:
    print("UR not allowed for the party")

else:
    print("UR allowed for the party")

Enter ur age 55

UR not allowed for the party

In [8]:
# Program which offers various discounts on purchase bills

shop_total = int(input("Enter the total billed amount"))
if shop_total>5000:
    print("U won the voucher of Rs.1000/-")
elif shop_total>2500:
    print("U won the voucher of Rs.500/-")
else:
    print("Oop! No discount for you!")

Enter the total billed amount 5000

U won the voucher of Rs.500/-

Iteration

In [9]:
#Iteration over a list of integers

list_1 = [10, 20, 30, 40, 50]
for num in list_1:
    print(num)

10
20
30
40
50

In [10]:
# Iterate over a string

str_1 = "Bangaluru"
for ch in str_1:
    print(ch)

B
a
n
g
a
l
u
r
u

In [12]:
# Iterate over a dictionary


students_data = {1:["Dheeraj", 21, "DS"], 2:["Suraj", 23, "Softwar"], 3:["Jadhav", 33,"HR"]}

for key, val in students_data.items():
    print(val)

['Dheeraj', 21, 'DS']
['Suraj', 23, 'Softwar']
['Jadhav', 33, 'HR']

In [13]:
for key in students_data.keys():
    print(key)

1
2
3

In [16]:
# Iterate over a range of values

for i in range(1, 8):
    print(i)

1
2
3
4
5
6
7

Comprehensions

In [17]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = []

for i in list_1:
    list_2.append(i)
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

In [18]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 =[]

for i in list_1:
    list_2.append(len(i))
print(list_2)

[11, 5, 4, 6, 3]

In [19]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

list_2 = [len(i) for i in list_1]
print(list_2)

[11, 5, 4, 6, 3]

In [21]:
list_1 = ["Automobiles", "Honda", "Benz", "Maruti", "Kia"]

d = {i: len(i) for i in list_1}

d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}