Map, Reduce and Filter

In [2]:
# Area of a circle

import math
def area(r):
    return math.pi*(r**2)

radii = [1, 2, 3, 4, 5]

areas = [] 

for r in radii:
    a = area(r)
    areas.append(a)

In [3]:
print(areas)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

map(f, iterable object)

In [4]:
map(area, radii)

In [5]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [8]:
# Square of numbers

numbers = [1, 2, 3, 4]
result = map(lambda x:x*x, numbers)
print(list(result))

[1, 4, 9, 16]

In [9]:
# Convert strings to integers

nums = ["4", "5", "6"]
print(list(map(int, nums)))

[4, 5, 6]

Convert Celcius scale to farheneit 

F = 9/5*C + 32

In [10]:
temps = [("Mumbai", 35), ("Berlin",12), ("Tokyo", 25), ("Hong Kong", 31), ("Sydney", 30), ("Abu Dhabi", 35)]

In [11]:
cel_to_f = lambda x:(x[0], (9/5)*x[1]+32)

In [12]:
list(map(cel_to_f, temps))

[('Mumbai', 95.0),
 ('Berlin', 53.6),
 ('Tokyo', 77.0),
 ('Hong Kong', 87.80000000000001),
 ('Sydney', 86.0),
 ('Abu Dhabi', 95.0)]

Filter Function - filters out the data

In [13]:
# filter(f, data)

import statistics

data = [1,2,3,4,5,6,7,8,9,10]

avg = statistics.mean(data)
print(avg)

5.5

In [14]:
filter(lambda x:x>avg, data)

In [15]:
list(filter(lambda x:x>avg, data))

[6, 7, 8, 9, 10]

In [19]:
# Get even numbers

numbers = [2,5,7,8]

result = filter(lambda x:x % 2 == 0, numbers)
print(list(result))

[2, 8]

In [20]:
# Words longer than 3 letters

words = ["cat", "apple", "dog", "banana"]

print(list(filter(lambda x:len(x) >3, words)))

['apple', 'banana']

In [21]:
name = ["Ravi", "Shyam", "Ram", 0, 0.0, "", "Dheeraj"]

filter(None, name)

In [22]:
list(filter(None, name))

['Ravi', 'Shyam', 'Ram', 'Dheeraj']

In [23]:
number = [23, 43, 5, 0, 0.0]
list(filter(None, number))

[23, 43, 5]

Reduce Function

In [24]:
# reduce(f, data)

from functools import reduce
#Multiply all the items in a list

data = [1,2,3,4,5]
multiplier = lambda x,y:x*y
reduce(multiplier, data)

'''
val1 = 1*2
val2 = val1*3
val3 = val2*4
val4 = val3*5
return val4
'''

'\nval1 = 1*2\nval2 = val1*3\nval3 = val2*4\nval4 = val3*5\nreturn val4\n'

In [25]:
reduce(multiplier, data)

120

In [26]:
# sum of numbers

from functools import reduce
numbers = [1,2,3,4]
result = reduce(lambda x,y: x+y, numbers)
print(result)

10